* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    padding: 0 15px 0 15px;
    margin: 0 100px 0 100px;
}

.navbar {
    position: fixed;
    width: 100%;
    z-index: 2;
    padding: 8px 16px;
    background: #343a40;
}

.navbar-brand {
    display: inline-block;
    font-size: 20px;
    font-weight: 500;
    padding: 5px 0;
    text-decoration: none;
    color: rgb(20, 149, 255);
}

.navbar-menu {
    float: right;
}

.navbar-menu ul {
    list-style: none;
}

.navbar-menu ul li {
    display: inline-block;
    padding: 8px;
}

.navbar-menu ul li a {
    text-decoration: none;
    color: rgba(225, 225, 225, 0.5);
}

.navbar-menu ul li a:hover {
    color: rgb(255, 255, 255);
}

.home {
    height: 550px;
    background-image: url(../img/bg.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position-y: -290px;
}

.home::after {
    content: " ";
    display: block;
    height: 553px;
    width: 100%;
    background: linear-gradient(to top, black, rgba(0, 0, 0, 0));
    position: absolute;
    top: 0;
}

.judul {
    position: relative;
    width: 600px;
    padding-top: 150px;
    z-index: 1;
}

.home .judul h1 {
    font-size: 60px;
    color: #ffff;
    line-height: 70px;
    text-shadow: 1px 1px 5px rgb(54, 54, 54);
    opacity: 0;
    transform: translate(-50px, 0);
}

.home .judul .slideright {
    opacity: 1;
    transform: translate(0, 0);
    transition: 1.5s;
}

.home .judul p {
    font-size: 24px;
    color: rgb(20, 149, 255);
    opacity: 0;
    transform: translate(0, -30px);
}

.home .judul .slidedown {
    opacity: 1;
    transform: translate(0, 0);
    transition: 1s;
    transition-delay: 0.5s;
}

.sosmed {
    position: relative;
    z-index: 1;
    padding: 14px;
}

.sosmed a i {
    color: white;
    margin: 8px;
    transform: scale(0, 0);
}

.sosmed a .fadein {
    transform: scale(1, 1);
    transition: 0.75s;
    transition-delay: 0.75s;
}

.about {
    padding: 50px;
    text-align: right;
    background: #000;
}

.about h1 {
    margin-right: 450px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 30px;
    transform: translate(0, -50px);
    opacity: 0;
}

.about .slidedown {
    opacity: 1;
    transform: translate(0, 0);
    transition: 1s;
}

.about .profil {
    display: grid;
    grid-template-columns: repeat(2, 550px);
}

.about .kiri {
    text-align: right;
    padding: 20px;
    opacity: 0;
    transform: translate(-50px, 0);
}

.about .kiri.slideright {
    opacity: 1;
    transform: translate(0, 0);
    transition: 1s;
    animation-delay: 1s;
}

.about .kiri img {
    border-radius: 50%;
}

.about .kiri img:hover {
    box-shadow: 0 0 50px rgba(225, 225, 225, 0.5);
}

.about .kanan {
    color: #fff;
    text-align: left;
    margin: auto;
    padding: 20px;
    opacity: 0;
    transform: translate(+50px, 0);
}

.about .kanan p {
    color: #fff;
}

.about .kanan.slideleft {
    opacity: 1;
    transform: translate(0, 0);
    transition: 1s;
    animation-delay: 1s;
}

.project {
    padding: 50px;
    background: #000;
}

.project h1 {
    margin-left: 150px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 30px;
    opacity: 0;
    transform: translate(0, -50px);
}

.project .slidedown {
    opacity: 1;
    transform: translate(0, 0);
    transition: 1s;
}

.project .card {
    display: inline-block;
    width: 200px;
    padding: 5px;
    margin: 20px;
    color: #fff;
    opacity: 0;
    transform: translate(0, -50px);
}

.project .card.slidedown {
    opacity: 1;
    transform: translate(0, 0);
    transition: 0.2s;

}

.project .card:hover {
    box-shadow: 0 0 50px rgba(225, 225, 225, 0.5);
}

.project .card a {
    text-decoration: none;
    color: rgb(20, 149, 255);
}

.project .card img {
    margin: 5px;
}

.contact {
    text-align: center;
    background-image: url(../img/bg2.jpg);
    background-size: cover;
    background-position-y: -100px;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.contact::before {
    content: "";
    display: block;
    height: 356px;
    width: 100%;
    position: absolute;
    background: linear-gradient(to bottom, black, rgba(0, 0, 0, 0));
}

.contact .jarak {
    padding: 50px;
}

.contact h1 {
    position: relative;
    z-index: 1;
    font-weight: 500;
    color: #fff;
    margin-bottom: 30px;
}

.form {
    position: relative;
    z-index: 1;
    width: 500px;
    margin: auto;
}

input:nth-child(1),
input:nth-child(2) {
    width: 225px;
}

input:nth-child(1) {
    margin-right: 5px;
}

input:nth-child(2) {
    margin-left: 5px;
}

input:nth-child(3) {
    width: 480px;
}

input,
textarea {
    padding: 8px;
    border: 0;
    background: #343a40;
    margin-bottom: 10px;
    font-size: 14px;
}

textarea {
    width: 480px;
    height: 100px;
}

button {
    width: 500px;
    background: rgb(20, 149, 255);
    border: 0;
    color: #fff;
    font-size: 18px;
    padding: 8px;
    cursor: pointer;
}

button:hover {
    background: rgb(2, 122, 221);
}

footer {
    display: grid;
    grid-template-columns: repeat(3, 423px);
    padding: 40px;
    background: #343a40;
    color: #fff;
    text-align: center;
}

footer .contactfooter {
    grid-column: 1;
}

footer .contactfooter .blok {
    margin-top: 10px;
}

footer .contactfooter .blok p i,
p {
    color: rgba(225, 225, 225, 0.5);
    margin: 5px;
}

footer .contactfooter .inline a i {
    margin: 10px;
    color: rgba(225, 225, 225, 0.5);
}

footer .contactfooter .inline a i:hover {
    margin: 10px;
    color: #fff;
}

footer .address {
    grid-column: 2;
}

footer .address p {
    color: rgba(225, 225, 225, 0.5);
    margin-top: 10px;
}

footer .navigate {
    grid-column: 3;
}

footer .navigate ul {
    margin-top: 10px;
    list-style: none;
}


footer .navigate ul li a {
    text-decoration: none;
    color: rgba(225, 225, 225, 0.5);
}

footer .navigate ul li a:hover {
    color: rgb(255, 255, 255);
}

@media (max-width: 576px) {

    .navbar {
        position: fixed;
        width: 100%;
        z-index: 2;
        padding: 8px 16px;
        background: #343a40;
    }

    .navbar-brand {
        display: inline-block;
        font-size: 20px;
        font-weight: 500;
        padding: 5px 0;
        text-decoration: none;
        color: rgb(20, 149, 255);
    }

    .navbar-menu {
        float: right;
    }

    .navbar-menu ul {
        list-style: none;
    }

    .navbar-menu ul li {
        display: inline-block;
        padding: 8px;
    }

    .navbar-menu ul li a {
        text-decoration: none;
        color: rgba(225, 225, 225, 0.5);
    }

    .judul {
        position: relative;
        width: 100%;
        padding-top: 150px;
        z-index: 1;
        text-align: center;
    }

    .home .judul h1 {
        font-size: 60px;
        color: #ffff;
        line-height: 70px;
        text-shadow: 1px 1px 5px rgb(54, 54, 54);
        opacity: 0;
        transform: translate(-50px, 0);
    }

    .home .judul p {
        font-size: 24px;
        color: rgb(20, 149, 255);
        opacity: 0;
        transform: translate(0, -30px);
    }

    .sosmed {
        position: relative;
        z-index: 1;
        padding: 14px;
    }

    .sosmed a i {
        color: white;
        margin: 8px;
        transform: scale(0, 0);
    }

    .about {
        padding: 50px;
        text-align: right;
        background: #000;
    }

    .about h1 {
        margin-right: auto;
        margin-bottom: 10px;
        text-align: center;
    }

    .about .profil {
        display: block;
    }

    .about .kiri {
        text-align: center;
        padding: 10px;
    }

    .about .kiri img {
        width: 150px;
    }

    .about .kanan {
        text-align: center;
        padding: 10px;
    }

    .about .kanan p {
        color: #fff;
    }

    .project {
        padding: 0;
    }

    .project h1 {
        margin-left: 0;
        text-align: center;
    }

    .project .card {
        display: block;
        width: 100%;
        padding: 5px;
        margin: 0;
    }

    .project .card img {
        width: 100%;
    }

    .form {
        position: relative;
        z-index: 1;
        width: 100%;
        margin: auto;
    }

    input:nth-child(1),
    input:nth-child(2) {
        width: 100%;
    }

    input:nth-child(1) {
        margin-right: 0;
    }

    input:nth-child(2) {
        margin-left: 0;
    }

    input:nth-child(3) {
        width: 100%;
    }

    textarea {
        width: 100%;
        height: 100px;
    }

    button {
        min-width: 200px;
        max-width: 492px;
    }

    footer {
        display: block;
    }

    footer .contactfooter {
        margin-top: 20px;
    }

    footer .address {
        margin-top: 20px;
    }

    footer .navigate {
        margin-top: 20px;
    }
}